<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 id="palet_material"></h1>
    <h2> <%-pallet_material%></h2>
    <script type="text/javascript">
        var obj = <%-JSON.stringify(pallet_material)%>;
        var parsed = JSON.parse(obj);
        var element = parsed[0];
        document.getElementById("palet_material").innerHTML = element.jenis_material;
    </script>
</body>

</html>